*.class

# Package Files #
*.jar
*.war
*.ear

#all dot prefix file and directory
.*
.*/

#eclipse target directory
**/target
**/bin

#log4j log file
**/log
*.log
*.log.*

#zkdata derectory
**/zk_test_data

#Wario running file
Wario.out
Wario_Daemon.pid

#xweb
xweb/FTL_helloworld.txt
xweb/root

